In [75]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,NaN,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN
2,NaN,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,NaN,NaN,NaN,NaN
3,NaN,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,NaN,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

In [76]:
# Import the Faker library
from faker import Faker
# Initialize a Faker object
fake = Faker()
# Generate a dummy name for each row
df['Name'] = [fake.name() for _ in range(len(df))]
# Preview the DataFrame
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,Amy Crawford,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,Adam Guzman,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN
2,Aaron Caldwell,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,NaN,NaN,NaN,NaN
3,Angela Herman,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,Ryan James,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

In [77]:
# Check for missing values
df.isnull().sum()

Name                                                                                                   0
Python (out of 3)                                                                                      0
Machine Learning (out of 3)                                                                            0
Natural Language Processing (NLP) (out of 3)                                                           0
Deep Learning (out of 3)                                                                               0
Other skills                                                                                          66
Are you available for 3 months, starting immediately, for a full-time work from home internship?       0
Degree                                                                                                43
Stream                                                                                               170
Current Year Of Graduation                                                                             0
Performance_PG                                                                                       952
Performance_UG                                                                                       654
Performance_12                                                                                       643
Performance_10                                                                                       709
dtype: int64

In [78]:
# Fill missing values
df['Other skills'].fillna('Not specified', inplace=True)
df['Degree'].fillna('Not specified', inplace=True)
df['Stream'].fillna('Not specified', inplace=True)
# Check for missing values again
df.isnull().sum()

Name                                                                                                   0
Python (out of 3)                                                                                      0
Machine Learning (out of 3)                                                                            0
Natural Language Processing (NLP) (out of 3)                                                           0
Deep Learning (out of 3)                                                                               0
Other skills                                                                                           0
Are you available for 3 months, starting immediately, for a full-time work from home internship?       0
Degree                                                                                                 0
Stream                                                                                                 0
Current Year Of Graduation                                                                             0
Performance_PG                                                                                       952
Performance_UG                                                                                       654
Performance_12                                                                                       643
Performance_10                                                                                       709
dtype: int64

In [79]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f'Number of duplicate rows: {duplicate_rows}')
# Remove duplicate rows if any
if duplicate_rows > 0:
    df.drop_duplicates(inplace=True)
    print('Duplicate rows have been removed.')
else:
    print('No duplicate rows found.')

Number of duplicate rows: 0
No duplicate rows found.

In [80]:
# Check data types of the columns
df.dtypes

Name                                                                                                 object
Python (out of 3)                                                                                     int64
Machine Learning (out of 3)                                                                           int64
Natural Language Processing (NLP) (out of 3)                                                          int64
Deep Learning (out of 3)                                                                              int64
Other skills                                                                                         object
Are you available for 3 months, starting immediately, for a full-time work from home internship?     object
Degree                                                                                               object
Stream                                                                                               object
Current Year Of Graduation                                                                            int64
Performance_PG                                                                                       object
Performance_UG                                                                                       object
Performance_12                                                                                       object
Performance_10                                                                                       object
dtype: object

In [81]:
# Normalize text data
df['Other skills'] = df['Other skills'].str.lower()
df['Degree'] = df['Degree'].str.lower()
df['Stream'] = df['Stream'].str.lower()
# Preview the DataFrame
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,Amy Crawford,1,0,0,1,"ms-excel, ms-word, deep learning, mysql, pytho...","Yes, I am available for 3 months starting imme...",bachelor of vocation (b.voc.),software engineering,2021,NaN,6.50/7,NaN,NaN
1,Adam Guzman,2,0,0,0,"git, github, linux, adobe after effects, adobe...","Yes, I am available for 3 months starting imme...",b.tech,computer science & engineering,2024,NaN,8.90/10,NaN,NaN
2,Aaron Caldwell,2,2,0,0,"amazon web services (aws), docker, hadoop, ms-...","Yes, I am available for 3 months starting imme...",master of science (m.s.),data science and analytics,2022,NaN,NaN,NaN,NaN
3,Angela Herman,3,2,2,0,"adobe xd, big data analytics, canva, data anal...","Yes, I am available for 3 months starting imme...",bachelor of engineering (b.e),not specified,2024,NaN,NaN,85.60/85.60,10.00/10.00
4,Ryan James,2,2,0,0,"c++ programming, data science, machine learnin...","Yes, I am available for 3 months starting imme...",b.tech,computer science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00

In [82]:
# Create a new feature for the total score
df['Total Score'] = df['Python (out of 3)'] + df['Machine Learning (out of 3)'] + df['Natural Language Processing (NLP) (out of 3)'] + df['Deep Learning (out of 3)']
# Preview the DataFrame
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Total Score
0,Amy Crawford,1,0,0,1,"ms-excel, ms-word, deep learning, mysql, pytho...","Yes, I am available for 3 months starting imme...",bachelor of vocation (b.voc.),software engineering,2021,NaN,6.50/7,NaN,NaN,2
1,Adam Guzman,2,0,0,0,"git, github, linux, adobe after effects, adobe...","Yes, I am available for 3 months starting imme...",b.tech,computer science & engineering,2024,NaN,8.90/10,NaN,NaN,2
2,Aaron Caldwell,2,2,0,0,"amazon web services (aws), docker, hadoop, ms-...","Yes, I am available for 3 months starting imme...",master of science (m.s.),data science and analytics,2022,NaN,NaN,NaN,NaN,4
3,Angela Herman,3,2,2,0,"adobe xd, big data analytics, canva, data anal...","Yes, I am available for 3 months starting imme...",bachelor of engineering (b.e),not specified,2024,NaN,NaN,85.60/85.60,10.00/10.00,7
4,Ryan James,2,2,0,0,"c++ programming, data science, machine learnin...","Yes, I am available for 3 months starting imme...",b.tech,computer science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00,4

In [83]:
# Process 'Other skills' column
df['Other skills'] = df['Other skills'].str.split(', ')
# Preview the DataFrame
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Total Score
0,Amy Crawford,1,0,0,1,"[ms-excel, ms-word, deep learning, mysql, pyth...","Yes, I am available for 3 months starting imme...",bachelor of vocation (b.voc.),software engineering,2021,NaN,6.50/7,NaN,NaN,2
1,Adam Guzman,2,0,0,0,"[git, github, linux, adobe after effects, adob...","Yes, I am available for 3 months starting imme...",b.tech,computer science & engineering,2024,NaN,8.90/10,NaN,NaN,2
2,Aaron Caldwell,2,2,0,0,"[amazon web services (aws), docker, hadoop, ms...","Yes, I am available for 3 months starting imme...",master of science (m.s.),data science and analytics,2022,NaN,NaN,NaN,NaN,4
3,Angela Herman,3,2,2,0,"[adobe xd, big data analytics, canva, data ana...","Yes, I am available for 3 months starting imme...",bachelor of engineering (b.e),not specified,2024,NaN,NaN,85.60/85.60,10.00/10.00,7
4,Ryan James,2,2,0,0,"[c++ programming, data science, machine learni...","Yes, I am available for 3 months starting imme...",b.tech,computer science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00,4

In [84]:
# Define the scoring system without considering availability
def calculate_score(row):
    score = 0
    # Points for Python, Machine Learning, NLP, and Deep Learning
    score += row['Python (out of 3)']
    score += row['Machine Learning (out of 3)']
    score += row['Natural Language Processing (NLP) (out of 3)']
    score += row['Deep Learning (out of 3)']
    # Points for other skills
    score += len(row['Other skills']) * 0.5
    # Points for degree
    if 'computer science' in row['Degree']:
        score += 2
    else:
        score += 1
    # Points for current year of graduation (more points for recent graduates)
    score += (2023 - row['Current Year Of Graduation']) * 0.5
    return score
# Calculate the total score for each candidate
df['Total Score'] = df.apply(calculate_score, axis=1)
# Preview the DataFrame
df.head()

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Total Score
0,Amy Crawford,1,0,0,1,"[ms-excel, ms-word, deep learning, mysql, pyth...","Yes, I am available for 3 months starting imme...",bachelor of vocation (b.voc.),software engineering,2021,NaN,6.50/7,NaN,NaN,7.0
1,Adam Guzman,2,0,0,0,"[git, github, linux, adobe after effects, adob...","Yes, I am available for 3 months starting imme...",b.tech,computer science & engineering,2024,NaN,8.90/10,NaN,NaN,19.0
2,Aaron Caldwell,2,2,0,0,"[amazon web services (aws), docker, hadoop, ms...","Yes, I am available for 3 months starting imme...",master of science (m.s.),data science and analytics,2022,NaN,NaN,NaN,NaN,9.5
3,Angela Herman,3,2,2,0,"[adobe xd, big data analytics, canva, data ana...","Yes, I am available for 3 months starting imme...",bachelor of engineering (b.e),not specified,2024,NaN,NaN,85.60/85.60,10.00/10.00,16.5
4,Ryan James,2,2,0,0,"[c++ programming, data science, machine learni...","Yes, I am available for 3 months starting imme...",b.tech,computer science,2023,NaN,8.10/10,93.40/93.40,10.00/10.00,7.0

In [85]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
# Define the features and the target variable
X = df.drop('Total Score', axis=1)
y = df['Total Score']
# Split the dataset into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Define the preprocessing steps
numeric_features = ['Python (out of 3)', 'Machine Learning (out of 3)', 'Natural Language Processing (NLP) (out of 3)', 'Deep Learning (out of 3)', 'Current Year Of Graduation']
categorical_features = ['Degree', 'Stream']
numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])
categorical_transformer = Pipeline(steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))])
preprocessor = ColumnTransformer(transformers=[('num', numeric_transformer, numeric_features), ('cat', categorical_transformer, categorical_features)])
# Define the model
model = RandomForestRegressor(n_estimators=100, random_state=42)
# Create the pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])
# Train the model
pipeline.fit(X_train, y_train)
# Make predictions on the test set
y_pred = pipeline.predict(X_test)
# Calculate the root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

4.139975320443277

In [86]:
# Define a list of parameters for grid search with correct prefixes
params = [
    {},
    {'model__max_depth': [None, 5, 10, 15, 20], 'model__min_samples_split': [2, 5, 10]},
    {'model__C': [0.1, 1, 10], 'model__epsilon': [0.1, 0.2, 0.3]},
    {'model__n_estimators': [50, 100, 200], 'model__max_depth': [None, 5, 10, 15, 20], 'model__min_samples_split': [2, 5, 10]}
]
# Initialize a list to store the results
results = []
# For each model
for (name, model), param in zip(models, params):
    # Create the pipeline
    pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])
    # Perform grid search
    grid = GridSearchCV(pipeline, param_grid=param, cv=5, scoring='neg_root_mean_squared_error')
    grid.fit(X_train, y_train)
    # Get the best model
    best_model = grid.best_estimator_
    # Make predictions on the test set
    y_pred = best_model.predict(X_test)
    # Calculate the root mean squared error
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    # Store the results
    results.append((name, rmse, best_model))
# Sort the results by RMSE
results.sort(key=lambda x: x[1])
# Print the results
for name, rmse, model in results:
    print(f'{name}: RMSE = {rmse}')

Linear Regression: RMSE = 3.656716986712233
Decision Tree: RMSE = 3.8216811584473676
Random Forest: RMSE = 3.895123800179789
Support Vector Machine: RMSE = 106.07944763542395

In [87]:
# Find the candidate with the highest total score
best_candidate = df.loc[df['Total Score'].idxmax()]
best_candidate

Name                                                                                                                                    William Carter
Python (out of 3)                                                                                                                                    3
Machine Learning (out of 3)                                                                                                                          3
Natural Language Processing (NLP) (out of 3)                                                                                                         2
Deep Learning (out of 3)                                                                                                                             2
Other skills                                                                                         [artificial intelligence, english proficiency ...
Are you available for 3 months, starting immediately, for a full-time work from home internship?     Yes, I am available for 3 months starting imme...
Degree                                                                                                                                   not specified
Stream                                                                                                                                   not specified
Current Year Of Graduation                                                                                                                           0
Performance_PG                                                                                                                                     NaN
Performance_UG                                                                                                                                     NaN
Performance_12                                                                                                                             80.20/80.20
Performance_10                                                                                                                                     NaN
Total Score                                                                                                                                     1030.0
Name: 164, dtype: object

In [88]:
# Convert the 'Other skills' column to strings
df['Other skills'] = df['Other skills'].apply(', '.join)
# Find the candidate with the highest total score
best_candidate = df.loc[df['Total Score'].idxmax()]
best_candidate

Name                                                                                                                                    William Carter
Python (out of 3)                                                                                                                                    3
Machine Learning (out of 3)                                                                                                                          3
Natural Language Processing (NLP) (out of 3)                                                                                                         2
Deep Learning (out of 3)                                                                                                                             2
Other skills                                                                                         artificial intelligence, english proficiency (...
Are you available for 3 months, starting immediately, for a full-time work from home internship?     Yes, I am available for 3 months starting imme...
Degree                                                                                                                                   not specified
Stream                                                                                                                                   not specified
Current Year Of Graduation                                                                                                                           0
Performance_PG                                                                                                                                     NaN
Performance_UG                                                                                                                                     NaN
Performance_12                                                                                                                             80.20/80.20
Performance_10                                                                                                                                     NaN
Total Score                                                                                                                                     1030.0
Name: 164, dtype: object